USE [master]
GO
/****** Object:  Database [MuzeDB]    Script Date: 3.06.2026 23:59:11 ******/
CREATE DATABASE [MuzeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MuzeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\MuzeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MuzeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\MuzeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MuzeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MuzeDB]
GO
/****** Object:  Table [dbo].[Eserler]    Script Date: 3.06.2026 23:59:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eserler](
	[EserID] [int] IDENTITY(1,1) NOT NULL,
	[EserAdı] [nvarchar](50) NOT NULL,
	[Yılı] [int] NOT NULL,
	[SanatciID] [int] NULL,
	[KategoriID] [int] NOT NULL,
	[MuzeID] [int] NOT NULL,
 CONSTRAINT [PK_Eserler] PRIMARY KEY CLUSTERED 
(
	[EserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 3.06.2026 23:59:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[TurAd] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Muzeler]    Script Date: 3.06.2026 23:59:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Muzeler](
	[MuzeID] [int] IDENTITY(1,1) NOT NULL,
	[MuzeAdı] [nvarchar](50) NOT NULL,
	[Sehir] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Muzeler] PRIMARY KEY CLUSTERED 
(
	[MuzeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sanatcılar]    Script Date: 3.06.2026 23:59:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sanatcılar](
	[SanatciID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Ulke] [nvarchar](50) NULL,
 CONSTRAINT [PK_Sanatcılar] PRIMARY KEY CLUSTERED 
(
	[SanatciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Eserler] ON 

INSERT [dbo].[Eserler] ([EserID], [EserAdı], [Yılı], [SanatciID], [KategoriID], [MuzeID]) VALUES (1, N'Mona Lisa', 1503, 1, 1, 2)
INSERT [dbo].[Eserler] ([EserID], [EserAdı], [Yılı], [SanatciID], [KategoriID], [MuzeID]) VALUES (2, N'Son Akşam Yemeği', 1495, 1, 1, 3)
INSERT [dbo].[Eserler] ([EserID], [EserAdı], [Yılı], [SanatciID], [KategoriID], [MuzeID]) VALUES (3, N'Kaplumbağa Terbiyecisi', 1906, 22, 1, 1)
SET IDENTITY_INSERT [dbo].[Eserler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([KategoriID], [TurAd]) VALUES (1, N'Resim')
INSERT [dbo].[Kategoriler] ([KategoriID], [TurAd]) VALUES (2, N'Heykel')
INSERT [dbo].[Kategoriler] ([KategoriID], [TurAd]) VALUES (3, N'Fotoğraf')
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Muzeler] ON 

INSERT [dbo].[Muzeler] ([MuzeID], [MuzeAdı], [Sehir]) VALUES (1, N'Pera Müzesi', N'İstanbul')
INSERT [dbo].[Muzeler] ([MuzeID], [MuzeAdı], [Sehir]) VALUES (2, N'Louvre Müzesi', N'Paris')
INSERT [dbo].[Muzeler] ([MuzeID], [MuzeAdı], [Sehir]) VALUES (3, N'Akademi Galerisi', N'Floransa')
SET IDENTITY_INSERT [dbo].[Muzeler] OFF
GO
SET IDENTITY_INSERT [dbo].[Sanatcılar] ON 

INSERT [dbo].[Sanatcılar] ([SanatciID], [Ad], [Ulke]) VALUES (1, N'Leonardo da Vinci', N'İtalya')
INSERT [dbo].[Sanatcılar] ([SanatciID], [Ad], [Ulke]) VALUES (2, N'Frida Kahlo', N'Meksika')
INSERT [dbo].[Sanatcılar] ([SanatciID], [Ad], [Ulke]) VALUES (3, N'Şeker Ahmed Paşa', N'Türkiye')
SET IDENTITY_INSERT [dbo].[Sanatcılar] OFF
GO
ALTER TABLE [dbo].[Eserler]  WITH CHECK ADD  CONSTRAINT [FK_Eserler_Kategoriler] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
GO
ALTER TABLE [dbo].[Eserler] CHECK CONSTRAINT [FK_Eserler_Kategoriler]
GO
ALTER TABLE [dbo].[Eserler]  WITH CHECK ADD  CONSTRAINT [FK_Eserler_Muzeler] FOREIGN KEY([MuzeID])
REFERENCES [dbo].[Muzeler] ([MuzeID])
GO
ALTER TABLE [dbo].[Eserler] CHECK CONSTRAINT [FK_Eserler_Muzeler]
GO
ALTER TABLE [dbo].[Eserler]  WITH CHECK ADD  CONSTRAINT [FK_Eserler_Sanatcılar] FOREIGN KEY([SanatciID])
REFERENCES [dbo].[Sanatcılar] ([SanatciID])
GO
ALTER TABLE [dbo].[Eserler] CHECK CONSTRAINT [FK_Eserler_Sanatcılar]
GO
USE [master]
GO
